body {
    background-image: url('/assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    color: 'white';
}

.nav-link-style {
    font-size: 20px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.nav-link-style:hover {
    text-decoration: underline;
}
